@import 'nib'

.cards-grid-sizer
  width 20%
  @media (max-width: 1056px)
    width 25%
  @media (max-width: 846px)
    width 33.3%
  @media (max-width: 634px)
    width 50%

.user-page
  .cards-grid-sizer
    width 25%
    @media (max-width: 1160px)
      width 33.3%
    @media (max-width: 960px)
      width 50%

.items-sample
  .cards-grid-sizer
    width 50%
    @media (max-width: 1180px)
      width 200px
