@import 'nib'
@import 'variables'

@media only screen and (min-width: 760px) and (max-width: 960px)

  .header_menu_link
    margin-right 20px

  .button
    padding-left 20px
    padding-right 20px
    &.small
      padding-left 15px
      padding-right 15px

  .get_app_but
    [class*='icon-']
      display none

  .header_profile
    margin-left 15px

  .shop_category_list li
    width 33.333333%

  .submenu_more .left
    width 65%

  .submenu_more .right
    width 29%
    padding-left 4%

  .submenu_more .get_app,
  .submenu_more .signup,
  .gosocial
    width 47%

  .nav_sort a
    padding 0 13px

  .recommended_seller_item
    width 50%

  .block_border
    padding 10px

  .user_id_products
    .three
      width 30.6666666667%
    .nine
      width 65.3333333333%

  .user_id_photo
    height 300px
