color1 = #16AACE
color2 = #EB5811
ctext = #333
bdcolor = #ddd
ctextlight = #aaa
fftext = "Helvetica Neue", Helvetica, Arial, sans-serif

icon_durian()
  font-family 'icon-durian-all'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  display inline-block
  font-size 10px
  display inline-block
  margin 0
  vertical-align 2px
  content arguments
